<%- include("partials/header"); %>

<h1>Add New Product</h1>

<form action="/addproduct" method="POST" enctype="multipart/form-data" class="mt-3">

    <div class="mb-3">
        <label>Product Name</label>
        <input type="text" name="productName" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Quantity</label>
        <input type="number" name="quantity" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input type="number" name="price" step="0.01" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Image</label>
        <input type="file" name="image" class="form-control" required>
    </div>

    <button class="btn btn-success">Add Product</button>

</form>

<%- include("partials/footer"); %>
